extends layout

block content
  h1= title
  p Welcome to #{title}
  p User : #{user}
  p Wechat Config : #{wechat_config}
  p
    a(href='/auth/wechat') Login with wechat
  p
    a(href='/auth/line') Login with line
  p
    //img(src='https://chart.googleapis.com/chart?cht=qr&chl=' + url + '&chs=200x200')

  p
    a(href='weixin://dl/officialaccounts/mcdonalds888')
        div link
    p
      img(src='/images/slots.png')
    p
      img(src='/images/coupon1.png')
    p
      img(src='/images/screemo_light.png')
