extends layout

block content
  h1= title
  p Welcome to #{title}
  p User : #{user}
  p Wechat Config : #{wechat_config}
  p
    a(href='/auth/wechat') Login
  p
    img(src='https://chart.googleapis.com/chart?cht=qr&chl=' + url + '&chs=200x200')
